<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.project01.mapper.CustomerMapper">

    <!--고객-->
    <!--회원가입 여부 확인 -->
    <select id="joinCheck" parameterType="cTO" resultType="String">
        select email
        from customer
        where email = #{email};
    </select>

    <!--사용자 생성 -->
    <insert id="userInsert" parameterType="cTO">
        INSERT INTO customer (email, pwd, addr, zip)
        VALUES (#{email}, password(#{pwd}), #{addr}, #{zip});
    </insert>

    <!--사용자 확인 -->
    <select id="userCheck" parameterType="cTO" resultType="int">
        select cid
        from customer
        where email = #{email} and pwd = password(#{pwd});
    </select>

    <!--사용자 데이터 가져오기 -->
    <select id="selectUserData" parameterType="cTO" resultType="cTO">
        select cid, email, addr, zip
        from customer
        where cid = #{cid};
    </select>

    <update id="addrUpdate">
        UPDATE customer
        SET addr = #{addr}, zip = #{zip}
        WHERE cid = #{cid};
    </update>

    <delete id="userDelete">
        DELETE FROM customer WHERE cid = #{cid};
    </delete>

</mapper>