<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.project01.mapper.CustomerMapper">

    <select id="customer" resultType="customer">
        select cid, email, pwd, addr, zip
        from customer
    </select>

    <insert id="register" parameterType="customer">
        insert into customer
        values(0,  #{email}, password(#{pwd}), #{addr}, #{zip})
    </insert>

    <select id="emailCheck" parameterType="String">
        select count(*) from customer where email=#{email}
    </select>

    <select id="login" parameterType="customer">
        select count(*) from customer where email=#{email} and pwd=password(#{pwd})
    </select>

</mapper>