<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.project01.mapper.CustomerMapper">
    <insert id="customer_register" parameterType="register">
        insert into customer(email, pwd, addr, zip)
        values(#{email}, password(#{pwd}), #{addr}, #{zip})
    </insert>

    <select id="customer_emailCHK" parameterType="register">
        select coalesce(cid, -1)
        from customer
        where email=#{email};
    </select>

    <select id="customer_pwdCHK" parameterType="register" resultType="int">
        select count(*)
        from customer
        where email=#{email} and pwd = password(#{pwd});
    </select>

</mapper>

