<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.project01.mapper.ProductMapper">
    <select id="product_list" resultType="product">
        select pid, img, name, cat, stk, price
        from product
    </select>

    <select id="cart_list" resultType="product" parameterType="product">
        select pid, img, name, cat, stk, price
        from product
        where pid = #{pid}
    </select>
</mapper>