<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.project01.mapper.PurchaseDetailMapper">

    <!--구매 내역 -->
    <insert id="createPurDt" parameterType="pcdTO">
        INSERT INTO purchase_detail (pid, cid, prd_id, qty, price)
        VALUES (#{pid}, #{cid}, #{prd_id}, #{qty}, #{price});
    </insert>

</mapper>